{% extends 'Customer/Customer_Base.html' %}

{% block title %}
<title>My order </title>
{% endblock %}

{% block content %}

{% for i in order %}
   <h3>order</h3>
   {% if i.mobile %}
    <div style="margin:1% ;">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{i.mobile.image.url}}" style="width:100%;height: 100%;"
                        class="img-fluid rounded-start" alt="Image Not Found">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <!--                    <h5 class="card-title"><b>{{lap.customer}}</b></h5>-->
                        <h4 class="card-text">{{i.mobile.name}}</h4>
                        <h4 class="card-title">{{i.mobile.brand_name}}</h4>
                      <h5 class="card-text">{{i.mobile.RAM}} GB RAM | {{i.mobile.ROM}} GB ROM | Expandable upto 512 GB</h5>
                      <h5 class="card-text">{{i.mobile.processor}} Processor </h5>
                      <h5 class="card-text">{{i.mobile.warranty}} Year Handset Warranty</h5>
                      <h4 class="card-text">Price: {{i.mobile.price}} Rs</h4>
                      <h4 class="card-text">Mode of Payment: {{i.payment_mode}}</h4>
                      <a href="{% url 'generatepdf' i.id %}">
                          <button class="btn btn-success">Download Invoice</button>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <br><br>
    {% if i.laptop %}
    <div class="card mb-3 container" style="max-width: 1200px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{{r.laptop.image.url}}" width="{{350}}" height="{{200}}" alt="...">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title">{{r.brand_name}} {{r.name}}</h4>
                <h5 class="card-text">{{r.RAM}} GB RAM | {{r.ROM}} GB ROM | Expandable upto 2 TB</h5>
                <h5 class="card-text">11th Generation {{r.processor}} Processor</h5>
                <h5 class="card-text">{{r.warranty}} Year Warranty</h5>
                <h4 class="card-text">Price: {{r.price}} Rs</h4>
                <a href="{% url 'generatepdf' i.id %}">
                    <button class="btn btn-success">Download Invoice</button>
                </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <br>
      <br>
      {% if i.grocery %}
      <div class="card mb-3 container" style="max-width: 1200px;">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{{r.grocery.image.url}}" width="{{200}}" height="{{200}}" alt="Not availabele">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h4 class="card-title">{{r.product_name}}</h4>
              <h4 class="card-title">{{r.quantity}} Kg</h4>
              <h4 class="card-text">Price: {{r.price}} Rs</h4>
              <a href="{% url 'generatepdf' i.id %}">
                <button class="btn btn-success">Download Invoice</button>
            </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
{% endfor %}
{% endblock %}