{% extends 'Customer/Customer_Base.html' %}
{% load static %}


{% block content %}
<h1>{{amount1}}</h1>
<div style="margin: 10% 30%;width: 40%;">
    <div class="center" style="color: white;">
    <form class="text-center border border-light p-5" action="{% url 'customerrazorpaysuccess' %}" method="POST">
    
    {% csrf_token %}
    
        <p class="h3 mb-3" style="color: black;">
        <i class="fas fa-coffee"></i>Place Order 
        </p>
        <b style="color:black;font-size: large;">{{amount1}}</b><br><br>


<script src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_TULhE5xfciuNwn"
    data-amount="{{amount}}"
    data-currency="INR"
    data-order_id="{{payment.id}}"
    data-buttontext="Pay with Razorpay"
    data-name="CJC Markets"
    data-description="Secure Payment"
    data-image="{% static 'Images/Logo.png' %}"
    data-prefill.name="{{customer.name}}"
    data-prefill.email="{{user.email}}"
    data-prefill.contact="{{user.mobile_no}}"
    data-theme.color="#3399cc">
</script>

    


</form>
</div>
</div>
{% endblock %}